* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}

body{
    background-color: #000000;
    opacity: 0;
    transition: all 0.5s ease;
    overflow-x: hidden;
}

@media all and (max-width: 795px){
    #navbar {
        position: fixed;
        background-color: #000000;
        position: fixed;
        width: 100vw;
        height: 20vw;
        top: 0;
    }
    
    .logo {
        position: relative;
        font-size: 4vh;
        color: #ffffff;
        font-family: "Fredoka One", sans-serif;
        padding: 1vh;
        top: 1vw    !important;
    }
    
    .navlinks {
        background-color: rgba(0, 0, 0, 0.9);
        height: 150vh;
        width: 50vw;
        font-size: 3vw;
        text-align: center;
        z-index: 5;
        position: absolute;
        top: 0px;
        right: 0px;
        transform: translateX(50vw);
        transition: 0.5s all ease;
    }
    
    .navlinks-list {
        width: 30vw;
        margin: 15vw auto;
    }
    
    .navlinks-list li a:hover {
        color: #00bbff;
    }
    
    .navlinks-list li:nth-child(2), 
    .navlinks-list li:nth-child(3){
        margin-top: 20vw;
    }
    
    .nav-open-close{
        opacity: 1      !important;
        position: relative;
        top: -3vw    !important;
    }
    
    .nav-open-close i{
        z-index: 6      !important;
        position: absolute;
        font-size: 30px;
        right: 6vw;
        color: #aaaaaa     !important;
        transition: 0.5s all ease;
    }
    
    .fa-times, .fa-bars{
        opacity: 0;
    }
    
    .nav-open-close .fa:hover {
        color: #ffffff      !important;
    }
    
    .fa-shopping-cart {
        position: relative;
        color: #aaaaaa     !important;
        transition: all 0.3s ease;
        z-index: 6;
        margin: 80vh auto;
        right: 20vw     !important;
        top: 90vw   !important;
        opacity: 0;
    }

    .search-box {
        position: relative;
        top: -2vw   !important;
        width: 95vw !important;
        height: 10vw !important;
        font-size: 3.5vw  !important;
    }

    .search i {
        position: relative;
        font-size: 5vw  !important;
        left: 90vw      !important;
    }

    #new-arrivals-in-products {
        grid-template-columns: 40vw 40vw    !important;
        grid-template-rows: 50vw 50vw 50vw 50vw     !important;
        grid-gap: 10vw   !important;
    }

    .item img{
        width: 40vw     !important;
        height: 40vw    !important;
    }

    .item {
        font-size: 2.3vw  !important;
    }

    #electronics-in-products {
        grid-template-columns: 40vw 40vw    !important;
        grid-template-rows: 50vw 50vw 50vw 50vw     !important;
        grid-gap: 10vw   !important;
    }

    #food-in-products {
        grid-template-columns: 40vw 40vw    !important;
        grid-template-rows: 50vw 50vw 50vw 50vw     !important;
        grid-gap: 10vw   !important;
    }

    #furniture-in-products {
        grid-template-columns: 40vw 40vw    !important;
        grid-template-rows: 50vw 50vw 50vw 50vw     !important;
        grid-gap: 10vw   !important;
    }

    .item i{
        margin-top: 32vw   !important;
        margin-left: 0   !important;
        margin-right: 8vw   !important;
    }

    footer {
        display: flex;
    }

    .footer-area {
        padding: 5vw   !important;
    }

    .footer-area .logo {
        position: relative;
        font-size: 2.5vw  !important;
        left: -5vw  !important;
    }

    .footer-area .follow {
        position: relative;
        left: -3.5vw  !important;
    }
}

.reduced {
    text-decoration: line-through;
}

    /*navigation bar*/
#navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 1001;
}

.navlinks li:nth-child(4), 
.navlinks li:nth-child(5) {
    visibility: hidden;
}

.logo {
    font-weight: bolder;
    letter-spacing: 3.5px;;
    font-family: 'Fredoka One', sans-serif;
    font-size: 2.7em;
    margin-left: 15px;
    color: #ffffff;
}

.navlinks li{
    display: inline-block;
    margin: 20px;
    position: relative;
}

.navlinks li a {
    color: #ffffff;
    font-size: 1.5em;
}

.shopping-cart {
    position: relative;
    font-size: 3em;
    margin-right: 15px;
    color: #ffffff      !important;
    left: 13vw;
}

.navlinks li a::before{
    content: " ";
    position: absolute;
    width: 0%;
    top: -20%;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.navlinks li a:hover::before{ 
   width: 100%;
}

.fa {
    color: #ffffff      !important;
}

.fa:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.4)  !important;
    transition: all 0.2s ease;
}

.nav-open-close{
    opacity: 0;
}

/* SEARCH BOX */
.search {
    position: relative;
    top: 15vh;
    height: 10vh;
}
.search-box{
    background-color: rgba(255, 255, 255, 0.1);
    width: 97vw;
    height: 8vh;
    margin: 2.5px 10px;
    position: absolute;
    border: none;
    outline: none;
    padding: 5px;
    box-shadow: rgba(255, 255, 255, 0.2) 2px 2px;
    transition: all 0.2s ease-in-out;
    font-size: 1.1vw;
}

.fa-search {
    position: relative;
    left: 94vw;
    font-size: 3vw    !important;
    margin-top: 1vh;
}
.search-box:hover{
    background-color: rgba(255, 255, 255, 0.15);
}
.search-box:focus{
    background-color: #000000;
    box-shadow: none;
    border-bottom: 1px #ffffff solid;
}

/* ITEM AREA */

.section-head {
    position: relative;
    margin: 15vh 5px 20px 20px;
    font-size: 3em;
}

#new-arrivals-in-products {
    display: grid;
    grid-template-columns: 21vw 21vw 21vw 21vw;
    grid-template-rows: 48vh 48vh;
    grid-gap: 4vw;
    margin-top: 20px; 
    margin-left: 15px;
}

.item{
    background-color: rgb(39, 41, 39);
    overflow: hidden;
    border: 0.5px #ffffff solid;
    border-left-width: 1px; 
    border-radius: 15px;
    text-align: center;
    transform: translateX(5px);
    transition: all 0.4s ease;
    margin-left: 2px;
}

.item i{
    position: absolute;
    margin-top: 28vh;
    z-index: 5;
    font-size: 4vw;
    margin-left: 16vw;
    background-color: rgba(255, 200, 0, 0.3);
    padding: 7px;
    border-radius: 10px;
    color: #000000      !important;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.item:hover img{
    cursor: pointer;
    transform: scale(1.1);
    filter: blur(2px) grayscale(50%);
    transition: all 0.5s ease-in-out;
}

.item:hover i{
    opacity: 1;
}

.item i:hover{
    color: rgba(0, 0, 0, 0.6)       !important;
}

.item h4, h5{
    position: relative;
    top: 10px;
}


#new-arrivals-in-products, 
#electronics-in-products, 
#food-in-products, 
#furniture-in-products{
    font-size: 1.2vw;
}

.na-one, 
.na-two, 
.na-three, 
.na-four {
    opacity: 1;
}

.na-one img {
    width: 21vw;
    height: 38vh;
    grid-column: 1;
    grid-row: 1;
}

.na-two img{
    width: 21vw;
    height: 38vh;
    grid-column: 2;
    grid-row: 1;
}
.na-three img{
    width: 21vw;
    height: 38vh;
    grid-column: 3;
    grid-row: 1;
}

.na-four img{
    width: 21vw;
    height: 38vh;
    grid-column: 4;
    grid-row: 1;
}

.na-five img{
    width: 21vw;
    height: 38vh;
    grid-column: 1;
    grid-row: 2;
}

.na-six img{
    width: 21vw;
    height: 38vh;
    grid-column: 2;
    grid-row: 2;
}

.na-seven img{
    width: 21vw;
    height: 38vh;
    grid-column: 3;
    grid-row: 2;
}

.na-eight img{
    width: 21vw;
    height: 38vh;
    grid-column: 4;
    grid-row: 2;
}

.section-head-secondary {
    margin-top: 30px;
}

#electronics-in-products {
    display: grid;
    grid-template-columns: 21vw 21vw 21vw 21vw;
    grid-template-rows: 48vh 48vh;
    grid-gap: 4vw;
    margin-top: 20px; 
    margin-left: 15px;
}

.e-one img {
    width: 21vw;
    height: 38vh;
    grid-column: 1;
    grid-row: 1;
}

.e-two img{
    width: 21vw;
    height: 38vh;
    grid-column: 2;
    grid-row: 1;
}
.e-three img{
    width: 21vw;
    height: 38vh;
    grid-column: 3;
    grid-row: 1;
}

.e-four img{
    width: 21vw;
    height: 38vh;
    grid-column: 4;
    grid-row: 1;
}

.e-five img{
    width: 21vw;
    height: 38vh;
    grid-column: 1;
    grid-row: 2;
}

.e-six img{
    width: 21vw;
    height: 38vh;
    grid-column: 2;
    grid-row: 2;
}

.e-seven img{
    width: 21vw;
    height: 38vh;
    grid-column: 3;
    grid-row: 2;
}

.e-eight img{
    width: 21vw;
    height: 38vh;
    grid-column: 4;
    grid-row: 2;
}

#food-in-products {
    display: grid;
    grid-template-columns: 21vw 21vw 21vw 21vw;
    grid-template-rows: 48vh 48vh;
    grid-gap: 4vw;
    margin-top: 20px; 
    margin-left: 15px;
}

.f-one img {
    width: 21vw;
    height: 38vh;
    grid-column: 1;
    grid-row: 1;
}

.f-two img{
    width: 21vw;
    height: 38vh;
    grid-column: 2;
    grid-row: 1;
}
.f-three img{
    width: 21vw;
    height: 38vh;
    grid-column: 3;
    grid-row: 1;
}

.f-four img{
    width: 21vw;
    height: 38vh;
    grid-column: 4;
    grid-row: 1;
}

.f-five img{
    width: 21vw;
    height: 38vh;
    grid-column: 1;
    grid-row: 2;
}

.f-six img{
    width: 21vw;
    height: 38vh;
    grid-column: 2;
    grid-row: 2;
}

.f-seven img{
    width: 21vw;
    height: 38vh;
    grid-column: 3;
    grid-row: 2;
}

.f-eight img{
    width: 21vw;
    height: 38vh;
    grid-column: 4;
    grid-row: 2;
}

#furniture-in-products {
    display: grid;
    grid-template-columns: 21vw 21vw 21vw 21vw;
    grid-template-rows: 48vh 48vh;
    grid-gap: 4vw;
    margin-top: 20px; 
    margin-left: 15px;
}

.fr-one img {
    width: 21vw;
    height: 38vh;
    grid-column: 1;
    grid-row: 1;
}

.fr-two img{
    width: 21vw;
    height: 38vh;
    grid-column: 2;
    grid-row: 1;
}
.fr-three img{
    width: 21vw;
    height: 38vh;
    grid-column: 3;
    grid-row: 1;
}

.fr-four img{
    width: 21vw;
    height: 38vh;
    grid-column: 4;
    grid-row: 1;
}

.fr-five img{
    width: 21vw;
    height: 38vh;
    grid-column: 1;
    grid-row: 2;
}

.fr-six img{
    width: 21vw;
    height: 38vh;
    grid-column: 2;
    grid-row: 2;
}

.fr-seven img{
    width: 21vw;
    height: 38vh;
    grid-column: 3;
    grid-row: 2;
}

.fr-eight img{
    width: 21vw;
    height: 38vh;
    grid-column: 4;
    grid-row: 2;
}

.footer-area {
    background-color: #646965;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding: 50px;
}

.footer-area .logo {
    margin-top: 20px;
    color: #00bfff;
}

.social-media {
    display: flex;
    justify-content: space-between;
}

.footer-area h4 {
    color: #00bfff;
}

.visibility-onscroll {
    opacity: 1;
    transform: translateX(-2px);
}

.visibility {
    opacity: 1;
}

.on-nav-click {
    transform: translateX(0px);
}
